<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications
    </title>
</head>
<body>
    <h1>Let's chat</h1>
    <div id="messages"></div>
    <form id="messageForm" onsubmit="handleSubmit(event)">
        <input 
            type="text" 
            id="messageInput"
            placehoder="Type a message..."
            required
        >
        <button type="submit">Send</button>
    </form>

    <script type="text/javascript">
        const messageForm = document.getElementById("messageForm");
        const messageDiv = document.getElementById('messages');
        const messageInput = document.getElementById('messageInput');

        let url = 'ws://' + window.location.host + '/ws/chat/';
        const socket = new WebSocket(url);
        socket.onopen = function() {
            console.log('WebSocket Connected');
            addMessage('System: Connected to chat server');

        };
        

        socket.onmessage = function(e){
            const data = JSON.parse(e.data)
        switch(data.type){
            case 'connection_established':
                console.log("Connected:", data.message);
                addMessage('System: ' + data.message);
                break;

            case 'chat':
                console.log('Received message:', data.message);
                addMessage(data.message);
                break;
        
            case 'error':
                console.error('Error:', data.error);
                addMessage('Error: ', data.error);
                break
            }  
        };

        socket.onerror = function(error) {
            console.error('WebSocket Error:', error);
            addMessage('Error: Could not connect to chat server');
        }
        

        

        function handleSubmit(event) {
            event.preventDefault();
            if(socket.readyState === WebSocket.OPEN){
                const message = messageInput.value;
                if (message) {
                    socket.send(JSON.stringify({
                        message: message
                    }));
                    messageInput.value='';
                }

            } else {
                addMessage('Error: Not connected to chat server');
            }
          
            
        }

        function addMessage(message){
            const messageElement = document.createElement('p');
            messageElement.textContent = message;
            messageDiv.appendChild(messageElement);
            messageDiv.scrollTop = messageDiv.scrollHeight;
        }
        
    </script>
</body>
</html>