<!-- applications/play_attention/templates/welcome.html -->
{% load static %}
{% load cache %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="frame-src 'self' https://www.youtube.com https://www.youtube-nocookie.com;">
    <link rel="stylesheet" href="{% static 'css/lucy/lucy_homepage.css' %}">
    <title>💡 Bienvenidos a Lucy!</title>
    </head>
<body>

<header>
    <h1>💡 Bienvenidos a Lucy! Una forma diferente de ahorro e inversión</h1>
</header>

<main>
    <section>
        <p>Bienvenidos a Lucy, explore nuestros servicios y navegue a través de las funcionalidades de la app. También puede visitar la documentación de la API para más detalles.</p>
        
        <h2>Lista de endpoints:</h2>

        <ul class="links-list">
            <li><a href="/docs">Swagger Documentation</a></li>
            <li><a href="/api/register">Users SignUp</a></li>
            <li><a href="/api/auth/login">Users SignIn</a></li>
            <li><a href="/chat">Chat</a></li>
        </ul>
    </section>
<section align="center">
    {% cache 3600 video_embed_block %}
        <iframe width="560" height="315"
        src="https://www.youtube.com/embed/QcnXkOMwtj0"
        title="Como empezar a ahorrar e invertir"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
        </iframe>
    {% endcache %}
</section>
</main>

<footer>
    <p>Powered by <a href="https://yourwebsite.com">Lucy-Ahorros reales</a> | &copy; 2025 Lucy</p>
</footer>

</body>
</html>
